@model IEnumerable<OdeToFood.Data.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    @DateTime.Now.Year
    <div>
        There are @Model.Count() products in the db.
    </div>
</div>

<div class="row">

</div>